# FastAPI Settings
PROJECT_NAME="Duolingo Clone API"
API_V1_STR="/api"

# Database
# For SQLite: sqlite:///./duolingo.db
# For PostgreSQL: postgresql://user:password@localhost/dbname
SQLITE_URL="sqlite:///./duolingo.db"

# CORS
FRONTEND_URL="http://localhost:3000"
